<%= form_for :login, html: {id:"login"} do |f| %>
	<h1>Login</h1>
	Username: <%= f.text_field :username %><br/>
	Password: <%= f.password_field :password %><br/>
	<%= f.submit 'Login' %>
<% end %>

<%= form_for(:user, :url => {:controller => 'user', :action=>'signup'}, html:{id:"signup"}) do |f| %>
	<h1>Sign Up</h1>
	Username: <%= f.text_field :username %><br/>
	Password: <%= f.password_field :password %><br/>
	Confirm password: <%= f.password_field :password_confirmation %><br/>
	<%= f.submit 'Sign Up' %>
<%end%>

<% if @user && @user.errors.any? %>
<div id="errors">
	<% for error in @user.errors.full_messages %>
		<%= error %><br/>
	<%end%>
</div>
<%end%>
